body{
    background-color: #F3F1FF;
}
main{
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar img{
    width: 40px;
}

main{
    max-width: 870px;
}
.section-title{
    padding-top: 10px;
}

.player img{
    width: 56px;
}
.blog{
    padding: 10px;
}
.blog-img img{
    width: 177px;
}
.blog-description{
    padding-left: 10px;
}
.name{
    color: #562EFF;
}
.courses img{
    width: 225px;
}
.lates-courses{
    margin-top: 20px;
    max-width: 870px;
}
.courses p{
    color: #ED6B4F;
}