body{
    background-color: #F3F1FF;
}

.navbar img{
    width: 40px;
}

main{
    max-width: 870px;
}

.player img{
    width: 56px;
}
.blog{
    padding: 10px;
}
.blog-img img{
    width: 177px;
}
.blog-description{
    padding-left: 10px;
}